.containercol {
    padding-top: 75px;
    background-color: rgb(252, 239, 199);
}

.carousel-control-prev, .arousel-control-prev-icon{
    filter: invert(108%);
    
}

.carousel-control-next, .arousel-control-next-icon{
    filter: invert(108%);
    
} 

.carousel-control-prev, .arousel-control-prev-icon{
    filter: invert(108%);
}

.carousel-control-next, .arousel-control-next-icon{
    filter: invert(108%);
}