
.containercol {
    padding-top: 35px;
    background-color: white;
    
}

/* cambiamos colores de flechas del carusel */
.carousel-control-prev, .arousel-control-prev-icon{
    filter: invert(108%);
    
}

.carousel-control-next, .arousel-control-next-icon{
    filter: invert(108%);
    
} 

.carousel-control-prev, .arousel-control-prev-icon{
    filter: invert(108%);
}

.carousel-control-next, .arousel-control-next-icon{
    filter: invert(108%);
}

/* movemos columnas desde el margen  hacia la izquierda */
.col{
    margin-left: 20px;
}

/* arrastramos 10 px el boton hacia abajo */
.container button{

    margin-top: 10px;
    text-align: right;
    
}

.classbutton{
    text-align: right;
} 

.container label{

    margin-top:5px;
}

